body {
  background: black;
}

*{
  outline: 1px solid white;
}

body{
  color:white;
  text-align: center;
  font-size: 2em;
  
}

.container{
  
  display: flex;
  flex-direction: column;
  height: 98vh;
  gap: 20px;

}


.a{
  
  height: 150px;
  max-height: 25vh;

}

.b{
  
  height: 300px;
  /*min-height: 40vh;*/


}

.cde{
  display: flex;
  
  flex-direction: row;
  height:150px;
  gap: 20px;
 
}

.c, .d, .e{
  height: 150px;
  width: 150px;
}

.f{
  height: 150px;
}


@media(min-width: 500px) {

  .container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: -20px;

  }

  .a{
    width: 98vw;
    
    flex-grow: 2;
  }

  .b{
    /*flex-grow: 1;*/
    width: 75vw;
  }

  .cde{
    display: flex;
    justify-content:space-between;
    width: 75vw;
    height: 250px;
    
  }

  .c, .d, .e{
    width: 300px;
    height: 250px;
  }

  .f{
    width: 200px;
    height: 200px;
  
  
  }
  
}